<!DOCTYPE html>
<html>
<head>
    <title>{{user.name}}'s Dashboard</title>
</head>
<body>
    <h1>{{user.name}} DASHBOARD | Patient</h1>
    <h2>Records</h2>
    <div>{{user.records}}</div>
    <h2>User's Prescriptions</h2>
    <div>{{user.prescriptions}}</div>
    <h2>Record and Prescription Requests</h2>
    <div>
        {{#each request}}
            <form method="post" action="/updateRequest">
                <label for="yes">{{requester_name}}</label>
                <input type="submit" name="yes" value="Yes">
                <input type="hidden" name="id" value="{{id}}">
            </form>
        {{/each}}
    </div>
    <a href="/logout">Logout</a>
</body>
</html>